<div class="formulario">
	<form id="consultarNota" method="post" action="#">
		<h3>Consultar Notas</h3>



		<div class="div-center">
			<table width="100%">
				<tr>
					<label for="lbldate" name="lbldate">Data:</label>
					<input type="text" id="date">
				</tr>
				</table>
				<table border="0">
					<tbody><tr>
						<th width="40%">Alunos</th>
						<th width="10%">1&deg; B</th>
						<th width="10%">2&deg; B</th>
						<th width="10%">3&deg; B</th>
						<th width="10%">4&deg; B</th>
						<th width="10%">M&eacute;dia</th>
						<th width="10%">Situa&ccedil;&atilde;o</th>

					</tr>
					<h2>Turma:1337</h2>
					<tr><td>001 - Milton Vinicius</td>
						<td align="center"><input type="text"><label></td>
						<td align="center"><input type="text"><label></td>
						<td align="center"><input type="text"><label></td>
						<td align="center"><input type="text"><label></td>
						<td align="center"><input type="text" maxlength="2" size="2" name="media"></td>
						<td align="center"><input type="text" size="13" name="situacao"></td>
					</tr>
					<tr>
						<td>002 - Gustavo Fonseca</td>
						<td align="center"><input type="text"  maxlength="3"><label></td>
						<td align="center"><input type="text"  maxlength="3"><label></td>
						<td align="center"><input type="text"  maxlength="3"><label></td>
						<td align="center"><input type="text"  maxlength="3"><label></td>
						<td align="center"><input type="text" maxlength="2" size="2"  name="media"></td>
						<td align="center"><input type="text" size="13" name="situacao"></td>
					</tr><tr>
					<td>003 - Ramon Calixto </td>
					<td align="center"><input type="text"  maxlength="3"><label></td>
					<td align="center"><input type="text"  maxlength="3"><label></td>
					<td align="center"><input type="text"  maxlength="3"><label></td>
					<td align="center"><input type="text"  maxlength="3"><label></td>
					<td align="center"><input type="text" maxlength="2" size="2"  name="media"></td>
					<td align="center"><input type="text" size="13" name="situacao"></td>
				</tr><tr>
				<td>004 - Isabele Teixeira</td>
				<td align="center"><input type="text"  maxlength="3"><label></td>
				<td align="center"><input type="text"  maxlength="3"><label></td>
				<td align="center"><input type="text"  maxlength="3"><label></td>
				<td align="center"><input type="text"  maxlength="3"><label></td>
				<td align="center"><input type="text" maxlength="2" size="2"  name="media"></td>
				<td align="center"><input type="text" size="13" name="situacao"></td>
			</tr><tr>
			<td>005 - Carlos Alexandre</td>
			<td align="center"><input type="text"  maxlength="3"><label></td>
			<td align="center"><input type="text"  maxlength="3"><label></td>
			<td align="center"><input type="text"  maxlength="3"><label></td>
			<td align="center"><input type="text"  maxlength="3"><label></td>
			<td align="center"><input type="text" maxlength="2" size="2"  name="media"></td>
			<td align="center"><input type="text" size="13" name="situacao"></td>
		</tr><tr>
		<td>006 - Lucas Santos</td>
		<td align="center"><input type="text"  maxlength="3"><label></td>
		<td align="center"><input type="text"  maxlength="3"><label></td>
		<td align="center"><input type="text"  maxlength="3"><label></td>
		<td align="center"><input type="text"  maxlength="3"><label></td>
		<td align="center"><input type="text" maxlength="4" size="2"   name="media"></td>
		<td align="center"><input type="text" size="13" name="situacao"></td>
	</tr><tr>
	<td>007 - Sylas Eckart</td>
	<td align="center"><input type="text" ><label></td>
	<td align="center"><input type="text" ><label></td>
	<td align="center"><input type="text" ><label></td>
	<td align="center"><input type="text" ><label></td>
	<td align="center"><input type="text" maxlength="2" size="2" name="media"></td>
	<td align="center"><input type="text" size="13" name="situacao"></td>
</tr>

</tbody></table>

</div>




<input type="button" value="Frequencia">
<input type="button" value="Alterar">
<input type="button" value="Adicionar Aluno">
<input type="button" value="Excluir Aluno">
<input type="button" value="Voltar">

</div>